<section class="container content">
  <h2>Login</h2>

  <div class="form-container">

    <div class="errors">
      <% if @errors %>
        <%  @errors.each do |error| %>
          <%= error %>
        <% end %>
      <% end %>
    </div>

    <form class="sign-up" action="/sessions/new" method="post">
      <label for="email">Email</label><br>
      <input class="form-input" type="text" name="user[email]"><br>

      <label for="password">Password</label><br>
      <input class="form-input" type="password" name="user[password]"><br>
      <br>
      <input class="btn btn-primary form-button" type="submit" name="" value="Login">
    </form>
  </div>
</section>
