<section class="welcome container-wide">
  <div class="container">
    <h2 class="welcome-header">Your movies, at your fingertips.</h2>
    <p class="welcome-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

    <button class="btn btn-primary welcome-button" type="button" name="button">Sign Up Now!</button>
  </div>
</section>
